@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');







$title-ff:Lato,sans-serif;
$body-ff:Lato, sans-serif;
$btn-ff:Lato, sans-serif;

$body-color:#3c3c3c;
$primary-color:#aeb8cf;
$secondary-color:#fff;
$accent-color:#be5285;

$body-bg:$secondary-color;

$border-width:2px;

$letter-space:.16em;